
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Snake</title>
</head>
<body bgcolor="5f9ea0">
    <h1 style="text-align: center;">
        <span style="color: #ffcc99;">
            Welcome to game Snake!
        </span>
    </h1>
    <p>
        <span style="color: #ffcc99;">
            Initialize a new game:
            <a style="color: #ffcc99;"
               title="Click to initialize a new game"
               href="~/initialise"
               target="_blank"
               rel="noopener">
            Click!
            </a>
        </span>
    </p>
    <p>
        <span style="color: #ffcc99;">
            Get the current state of the game:
            <a style="color: #ffcc99;"
               title="Click to get the current state of the game"
               href="~/gameboard"
               target="_blank"
               rel="noopener">
                Click!
            </a>
        </span>
    </p>
</body>
</html>
